<div data-role="header" >
  <h1>Nuevo Proyecto</h1>
  <a href="/proyectos" data-icon="back" data-add-back-btn="true" class="ui-btn-back">Volver</a>
</div>

<div data-role="content">
  <%= render 'form' %>
  <%= link_to 'Back', proyectos_path %>
</div>
