<div data-role="header">
  <h1>Menú principal</h1>
  <a href="index.html" data-icon="gear" class="ui-btn-right">Añadir</a>

  <div data-role="navbar">
    <ul>
      <li><a href="/proyectos" class="ui-btn-active">Proyectos</a></li>
      <li><a href="b.html">Otra cosa</a></li>
    </ul>
  </div><!-- /navbar -->
  
</div>
 
<div data-role="content">

public contain here

</div>
 
 
 

