<h1>A&ntilde;adir imagen</h1>

<div class="actions"><%= link_to '<< Volver', pictures_path %></div>

<%= render 'form' %>

<p id="file_upload_container">
  <button id="fakeinputbrowser" onClick="javascript:document.getElementById('picture_file').click();">
    Localizar Imagen
  </button>
</p>

