<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @proyectostatus.name %>
</p>


<%= link_to 'Edit', edit_proyectostatus_path(@proyectostatus) %> |
<%= link_to 'Back', proyectostatuses_path %>
