<!DOCTYPE html>
<html>
  <head>
  <title>C.U.D.I</title>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <%= javascript_include_tag :defaults %>  
  <% javascript_include_tag "jquery-1.4.2.js" %>
  <% javascript_include_tag"jquery.js" %> 
  <%= javascript_include_tag"rails.validations" %> 
   
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
	
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
  
  <%= javascript_include_tag "rails.js" %>  
  
  <% csrf_meta_tag %>
  
  <% yield(:head) %>  
  
  </head>
  <body>
    <div data-role="page">
      <%= yield %>
    </div>
  </body>

</html>


